@{
    ViewData["Title"] = "Student Home Page";
}

@{
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    @*<div class="col-xs-4">
                            <img src="http://placehold.it/160x100" class="img-responsive img-radio">
                            <a class="btn btn-large btn-info" href="templates/home.html" style="width: 100%">View Available Slots</a>
                        </div>*@
                    <div class="col-xs-6">
                        <img src="http://placehold.it/160x100" class="img-responsive img-radio">
                        <a class="btn btn-large btn-info" href="/student/booking" style="width: 100%">Book a Slot</a>
                    </div>
                    <div class="col-xs-6">
                        <img src="http://placehold.it/160x100" class="img-responsive img-radio">
                        <a class="btn btn-large btn-info" href="/student/mybookings" style="width: 100%">View My Bookings</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

}
