@{
    ViewData["Title"] = "Staff Home Page";
}

@{
    <br /><br />
    <div class="container" style="background: url('https://stmed.net/sites/default/files/simple-wallpapers-25302-1170568.jpg')">
        <br /> <br />
        <div class="row">
            <div class="col-md-5 col-sm-offset-1">
                <div class="panel" style="background-color: transparent; color: white; font-family: optima;">
                    <img style="width:20%;height:20%;" src="https://uploads-ssl.webflow.com/57c77a2af8cc395247a9ac53/5ba9a23096725bf0643e0a3d_RMIT-Logo-white.png" />
                    <h2> Staff Menu</h2>
                </div>
            </div>
        </div>
    </div>

    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="http://placehold.it/160x100" class="img-responsive img-radio">
                        <a class="btn btn-large btn-info" href="/room" style="width: 100%">Room Availability</a>
                    </div>
                    <div class="col-xs-4">
                        <img src="http://placehold.it/160x100" class="img-responsive img-radio">
                        <a class="btn btn-large btn-info" href="/slot/create" style="width: 100%">Create a Slot</a>
                    </div>
                    <div class="col-xs-4">
                        <img src="http://placehold.it/160x100" class="img-responsive img-radio">
                        <a class="btn btn-large btn-info" href="/slot" style="width: 100%">My Booking Schedule</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

}
